@import "../../../assets/styles/variables";

.common-button {
  width: 100px;
  height: 34px;
  border-radius: 80px;
  background-color: $buttonColorNormal;
  font-size: $fontSizeBody;
  line-height: $lineHeightBody;
  cursor: pointer;

  &:hover {
    background-color: $buttonColorHover;
  }

  &:disabled {
    background-color: $buttonColorDisabled;
    color: $backgroundColorSurface;
    cursor: default;
  }
}
