$fontFamily: "Nunito-Regular";

$primaryColor: #f4e041;
$secondaryColor: #00bdd3;
$backgroundColorMain: #f8f8f8ff;
$backgroundColorSurface: #ffffffff;
$black: #000000de;

$fontSizeHeading: 40px;
$lineHeightHeading: 40px;

$fontSizeBody: 16px;
$lineHeightBody: 26px;

$buttonColorNormal: #f4e041;
$buttonColorHover: #ffe302;
$buttonColorDisabled: #b4b4b4;

$contentContainerWidth: 1170px;

$md1: 1048px;
$md2: 790px;
$md3: 380px;
