@import "../../../assets/styles/variables";

.card {
  background-color: $backgroundColorSurface;
  width: 370px;
  height: 254px;
  border-radius: 10px;
  line-height: $lineHeightBody;
  margin-bottom: 29px;
  text-align: center;

  span {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $md1) {
    width: 282px;
    height: 254px;
  }

  @media (max-width: $md2) {
    width: 344px;
    height: 254px;
    margin-bottom: 16px;
  }

  @media (max-width: $md3) {
    width: 328px;
    height: 254px;
    margin-bottom: 20px;
  }
}

.card-container {
  padding: 20px;
  flex-direction: column;

  &__avatar {
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 20px;
  }
}
